html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, object {
  vertical-align: bottom;
  max-width: 100%; }

header, nav, section, article, aside, footer {
  display: block; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/*
 * $cols: 12
 *
 * $divs: 7
 *
 *
 *
 * $column: 100% / $cols / $divs * ($divs - 1)
 *
 * $gutter: 100% / $cols / $divs
 *
 * $gut: $gutter / 2 */
.cnt, header, #content, footer {
  width: 1008px;
  margin: 0 auto; }
  .cnt:after, header:after, #content:after, footer:after {
    clear: both;
    display: block;
    content: "\0020"; }

select, label {
  background: rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1)));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)); }

select, label.dollar + input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-left-color: rgba(0, 0, 0, 0.15); }

select, label, label.dollar + input {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

select {
  width: 198px;
  font: 14px/24px Arial;
  color: white; }
  select option {
    color: white;
    background: #444444; }

label.dollar {
  display: block;
  width: 178px;
  padding: 0 10px;
  font: 24px/48px Arial;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease; }
label.focus {
  color: #666666; }
label.has-text {
  color: transparent;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s; }
label.dollar + .input {
  display: block;
  margin-top: -48px;
  width: 163px;
  height: 36px;
  padding: 5px 9px 5px 24px;
  font: bold 36px/1 Arial;
  color: lime;
  text-align: right;
  text-shadow: black 0 1px 0;
  background: transparent;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease; }
  label.dollar + .input:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px; }

li.submit button {
  display: block;
  width: 172px;
  padding: 3px;
  margin: 18px auto 0;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  cursor: pointer; }
  li.submit button span {
    display: block;
    margin: 0 -1px;
    font: bold 18px/36px Arial;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
    background: #64c8ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#64c8ff), to(#00324b));
    background: -moz-linear-gradient(#64c8ff, #00324b);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px; }
  li.submit button:active span {
    background: #00324b;
    background: -webkit-gradient(linear, left top, left bottom, from(#00324b), to(#64c8ff));
    background: -moz-linear-gradient(#00324b, #64c8ff); }

/*
 * @media screen and (max-width: 1920px)
 *
 *   body
 *
 *     font-size: 24px
 *
 *
 *
 * @media screen and (max-width: 1680px)
 *
 *   body
 *
 *     font-size: 22px
 *
 *
 *
 * @media screen and (max-width: 1440px)
 *
 *   body
 *
 *     font-size: 20px
 *
 *
 *
 * @media screen and (max-width: 1280px)
 *
 *   body
 *
 *     font-size: 18px
 *
 *
 *
 * @media screen and (max-width: 1024px)
 *
 *   body
 *
 *     font-size: 16px
 *
 *
 *
 * @media screen and (max-width: 800px)
 *
 *   body
 *
 *     font-size: 12px */
/*---------------------------------------------------------------------- */
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  background: #e4e3dd; }

a {
  color: #6c9b48;
  text-decoration: none; }

/*---------------------------------------------------------------------- */
header {
  margin-top: 3em;
  background: #333333; }
  header a#branding {
    display: block;
    width: 480px;
    padding-left: 12px;
    padding-right: 12px;
    float: left; }
    header a#branding h1 {
      font: 150%/6 "Helvetica Neue", Arial, Helvetica, sans-serif;
      letter-spacing: -1px;
      color: #cccccc; }
      header a#branding h1 span {
        color: #888888; }
    header a#branding:hover h1 {
      color: white; }
    header a#branding:hover h1 span {
      color: #cccccc; }
    header a#branding p {
      line-height: 1;
      color: #aaaaaa;
      display: none; }
  header nav {
    width: 504px;
    float: left;
    padding: 2em 0 0; }
    header nav ul {
      overflow: hidden; }
      header nav ul li.tree {
        width: 144px;
        margin-left: 12px;
        margin-right: 12px;
        float: left; }
        header nav ul li.tree p {
          display: block;
          font-size: 12px;
          font-weight: bold;
          color: #aaaaaa; }
        header nav ul li.tree ul li a {
          display: block;
          font-size: 12px;
          color: #666666; }
          header nav ul li.tree ul li a:hover {
            color: #cccccc; }

/*---------------------------------------------------------------------- */
#content {
  background: white;
  padding: 0.5em 0; }
  #content #title {
    padding: 3em 0 1em;
    margin: 0 0 2em;
    overflow: hidden;
    background: #dce6d7; }
    #content #title h2 {
      width: 312px;
      margin-left: 12px;
      margin-right: 12px;
      float: left;
      font-weight: normal;
      margin-top: 0.5em; }
    #content #title h3 {
      width: 648px;
      margin-left: 12px;
      margin-right: 12px;
      float: left;
      font-size: 1.5em;
      letter-spacing: -1px; }
  #content #body q:before {
    content: "\201C"; }
  #content #body q:after {
    content: "\201D"; }
  #content #body a:hover {
    border-bottom: 1px solid #6c9b48; }
  #content #body p {
    padding: 0 0 2em; }
  #content #body cite {
    border-top: 1px solid #e4e3dd;
    display: block;
    padding: 1em 0 0;
    font-style: normal; }
    #content #body cite:before {
      content: "\2014"; }

#index-page #content #slideshow {
  overflow: hidden; }
  #index-page #content #slideshow ul#slides li.slide {
    position: relative; }
    #index-page #content #slideshow ul#slides li.slide a {
      display: block; }
      #index-page #content #slideshow ul#slides li.slide a p {
        position: absolute;
        bottom: 2em;
        left: 0;
        padding: 0 0.5em;
        width: 100%;
        font: 2em/2 "Helvetica Neue", Arial, Helvetica, sans-serif;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.15s ease;
        -webkit-transition: all 0.15s ease;
        -moz-transition: all 0.15s ease;
        -o-transition: all 0.15s ease; }
      #index-page #content #slideshow ul#slides li.slide a:hover p {
        opacity: 1; }

#news-page #content #body {
  margin: 0 0 6em; }
  #news-page #content #body article {
    border-bottom: 1px solid #e4e3dd;
    margin: 0 12px 2em;
    overflow: hidden; }
    #news-page #content #body article h4 {
      width: 480px;
      margin-left: 12px;
      margin-right: 12px;
      float: left;
      font: 1.5em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
      margin: 0 0 0.5em 336px; }
    #news-page #content #body article p.date {
      width: 312px;
      margin-left: 12px;
      margin-right: 12px;
      float: left;
      margin: -2em 0 0;
      padding: 0; }
    #news-page #content #body article .body {
      width: 480px;
      margin-left: 12px;
      margin-right: 12px;
      float: left;
      margin-left: 336px; }
      #news-page #content #body article .body p {
        margin: 0; }

#about-page #content #body {
  width: 480px;
  padding-left: 12px;
  padding-right: 12px;
  float: left;
  margin: 0 168px 6em 336px; }

#contact-page #content #body {
  width: 480px;
  padding-left: 12px;
  padding-right: 12px;
  float: left;
  margin: 0 168px 6em 336px; }
  #contact-page #content #body dl dt {
    font-weight: bold; }
  #contact-page #content #body dl dd {
    padding: 1em 0;
    margin: 0 0 2em;
    border-bottom: 1px solid #e4e3dd; }

/*---------------------------------------------------------------------- */
footer {
  margin-bottom: 4.5em;
  font-size: 12px;
  background: white; }
  footer nav {
    width: 984px;
    margin-left: 12px;
    margin-right: 12px;
    float: left;
    padding: 0.5em 0 1em;
    border-top: 2px solid #13100f; }
    footer nav ul li {
      float: left;
      padding: 0.5em 0;
      margin-right: 1em; }
      footer nav ul li#copy {
        float: right;
        margin: 0; }
      footer nav ul li a {
        color: #666666; }
        footer nav ul li a:hover, footer nav ul li a:focus {
          color: #6c9b48; }
