html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, object {
  vertical-align: bottom;
  max-width: 100%; }

header, nav, section, article, aside, footer {
  display: block; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.cnt, header, #content, footer {
  width: 96%%;
  margin: 0 2%; }
  .cnt:after, header:after, #content:after, footer:after {
    clear: both;
    display: block;
    content: "\0020"; }

select, label {
  background: rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1)));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)); }

select, label.dollar + input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-left-color: rgba(0, 0, 0, 0.15); }

select, label, label.dollar + input {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

select {
  width: 198px;
  font: 14px/24px Arial;
  color: white; }
  select option {
    color: white;
    background: #444444; }

label.dollar {
  display: block;
  width: 178px;
  padding: 0 10px;
  font: 24px/48px Arial;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease; }
label.focus {
  color: #666666; }
label.has-text {
  color: transparent;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s; }
label.dollar + .input {
  display: block;
  margin-top: -48px;
  width: 163px;
  height: 36px;
  padding: 5px 9px 5px 24px;
  font: bold 36px/1 Arial;
  color: lime;
  text-align: right;
  text-shadow: black 0 1px 0;
  background: transparent;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease; }
  label.dollar + .input:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px; }

li.submit button {
  display: block;
  width: 172px;
  padding: 3px;
  margin: 18px auto 0;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  cursor: pointer; }
  li.submit button span {
    display: block;
    margin: 0 -1px;
    font: bold 18px/36px Arial;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
    background: #64c8ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#64c8ff), to(#00324b));
    background: -moz-linear-gradient(#64c8ff, #00324b);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px; }
  li.submit button:active span {
    background: #00324b;
    background: -webkit-gradient(linear, left top, left bottom, from(#00324b), to(#64c8ff));
    background: -moz-linear-gradient(#00324b, #64c8ff); }

@media screen and (max-width: 1920px) {
  body {
    font-size: 24px; } }

@media screen and (max-width: 1680px) {
  body {
    font-size: 22px; } }

@media screen and (max-width: 1440px) {
  body {
    font-size: 20px; } }

@media screen and (max-width: 1280px) {
  body {
    font-size: 18px; } }

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px; } }

@media screen and (max-width: 800px) {
  body {
    font-size: 12px; } }

/*---------------------------------------------------------------------- */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  background: white; }

a {
  color: #ff7f00;
  text-decoration: none; }

/*---------------------------------------------------------------------- */
header nav {
  margin: 1.5em 0.595% 0; }
  header nav a#branding {
    display: block;
    width: 32.143%;
    padding: 0 0.595%;
    float: left; }
    header nav a#branding h1 {
      padding: 0.333em 0 1.5em;
      font-size: 1.5em;
      letter-spacing: -1px;
      color: #333333;
      border-top: 0.333em solid #333333;
      border-bottom: 1px solid #dddddd; }
      header nav a#branding h1 span {
        font-weight: normal; }
    header nav a#branding:hover h1 {
      color: #ff7f00; }
    header nav a#branding p {
      line-height: 1;
      color: #aaaaaa;
      display: none; }
  header nav ul {
    width: 65.476%;
    padding: 0 0.595%;
    float: left;
    overflow: hidden; }
    header nav ul li {
      float: left;
      width: 25%; }
      header nav ul li a {
        display: block;
        padding: 0.5em 0 3em;
        font-weight: bold;
        color: #333333;
        border-top: 0.5em solid #333333;
        border-bottom: 1px solid #dddddd; }
        header nav ul li a:hover {
          color: #ff7f00; }
      header nav ul li ul {
        display: none; }

/*---------------------------------------------------------------------- */
#content #slideshow {
  overflow: hidden;
  margin: 1em 0; }
  #content #slideshow ul#slides li.slide {
    padding: 0;
    margin: 0.595%;
    position: relative; }
    #content #slideshow ul#slides li.slide a {
      display: block; }
      #content #slideshow ul#slides li.slide a p {
        position: absolute;
        bottom: 2em;
        left: 0;
        padding: 0 1.5em 0 0.5em;
        font: bold 3em/1.5 Times New Roman;
        letter-spacing: -6px;
        color: white;
        background: black; }

#about #content .title {
  margin: 0 0.595% 2em;
  padding: 2.5em 0 1.5em;
  border-bottom: 1px solid #dddddd;
  overflow: hidden; }
  #about #content .title h2 {
    width: 32.143%;
    padding: 0 0.595%;
    float: left;
    margin: 4em 0 0;
    font-weight: normal;
    font-family: Cambria, Georgia, serif; }
  #about #content .title h3 {
    width: 48.81%;
    padding: 0 0.595%;
    float: left;
    font-size: 2em;
    letter-spacing: -1px; }
#about #content .body {
  width: 48.81%;
  padding: 0 0.595%;
  float: left;
  margin: 0 16.667% 0 33.333%; }
  #about #content .body .drop {
    display: block;
    float: left;
    font: 12em/0.9 "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: -0.05em 0.05em -0.1em 0.5em; }
  #about #content .body q:before {
    content: "\201C"; }
  #about #content .body q:after {
    content: "\201D"; }
  #about #content .body p {
    font-family: Cambria, Georgia, serif;
    padding: 0 0 1em; }
  #about #content .body ul.read.more li a:before {
    content: "\00AB\0020";
    color: #999999; }

/*---------------------------------------------------------------------- */
footer {
  font-size: 0.75em; }
  footer nav {
    width: 98.81%;
    padding: 0 0.595%;
    float: left;
    padding: 4em 0 1em;
    margin: 0 0.595%;
    border-top: 0.2em solid #333333; }
  footer a {
    color: #333333; }
    footer a:hover, footer a:focus {
      color: #ff7f00;
      background: #fffaf0; }
  footer ul li {
    float: left;
    padding: 0.5em 0;
    margin-right: 1em; }
