@import reset
@import grid
@import monochrome
@import mixins
@import forms

$link: rgb(255,127,0)
$hover: rgb(255,250,245)

$link: #09e
$hover: rgb(245,250,255)

/*----------------------------------------------------------------------

body
  font: 12px/1.5 $sans
  color: #333
  background: #fff

a
  color: $link
  text-decoration: none
  &:hover, &:focus

/*----------------------------------------------------------------------

header
  background: #000
  height: 8em

  nav
    @extend .cnt
    margin-left: 16px
    
    h1
      +col($s4)
      a
        display: block
        height: 6em
        text-indent: -999em
        background: url(../i/site/logo.png)

    #search
      +flush($s4)
      margin-right: $s1
      margin-top: 33px
      background: #444
      +border-radius(3px)
      input
        display: block
        float: left
        background: #444
        border: none
        &.field
          width: $s3
          margin-left: 6px
          padding: 0
          font: bold 14px/1 $sans
          color: #fff
        &.submit
          float: right
          padding: 3px 1em
          font: bold 12px/1 $sans
          text-transform: uppercase
          color: #ccc
          background: #222
          border: none
          +border-radius(2px)
          cursor: pointer

    ul
      +flush($s3)
      li
        +col(125px)
        border-left: 1px solid #444

        a
          display: block
          font-weight: bold
          .text-transform: uppercase
          color: #ccc
          padding: 3em .5em 0
          &:hover
            color: #fff

/*----------------------------------------------------------------------

#content
  @extend .cnt
  background: url(../i/grid.pngz)
  margin: 1.5em 0 1.5em 16px

  .content
    border-top: 3px solid #ddd
    padding: 1em 0 2em

  h3
    padding: 1.25em .5em .25em
    .text-transform: uppercase
    border-bottom: 1px solid #ddd

  p
    margin: 0 0 1em

    a:hover, a:focus
      background: $hover

  nav#products
    +col($s2)

    ul
      margin: 0 0 2em
      li
        h3
          a
            display: block
            color: #333
            &:hover, &:focus
              color: $link
        ul
          padding: .5em 0 0
          a
            display: block
            padding: .4em .5em .6em
            line-height: 1
            &:hover, &:focus
              background: $hover
            &:active
              padding: .55em .5em .45em
  #main
    +col($s7)

    #slideshow 
      height: 336px
      margin: 0 0 1em
      background: #eee

      ul#slides
        li.slide
          img
            display: none

    p
      margin-right: 1em

  #side
    +col($s3)

    p
      padding: .5em 1em 2em .5em

    #news
      border-top: 1px solid #ddd
      padding: 1em 0 0
  
/*----------------------------------------------------------------------

footer  
  @extend .cnt
  margin-left: 16px
  
  nav
    ul
      border-top: 3px solid #333

      li
        float: left
        padding: .5em 0
        margin-right: 10px

        a
          color: #333
          font-weight: bold
          &:hover, &:focus
            color: $link
            background: $hover

    &#meta
      +col($s9)

    &#copyright
      +col($s3)
